


.o-accordion{

    border-top:1px solid $grey-dark;

    &__header{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        font-weight: $bold;
        @include font-24;
        padding:rem(30px) rem($unit-small) rem(30px) 0 ;
        border-bottom:1px solid $grey-dark;

        @include media("<sm") {
            font-size: 16px;
        };

        span{
          @include font-60;
          font-weight: 300;
          position: absolute;
          right:10px;
          color:$grey-text;
          display: block;
          transition: $speed $easing;
        }

        &.is-open{
          color:$blue-light;
          span{
            transform: rotate(-45deg);
            color:$blue-light;
          }
        }

    }

    &__content{
        display: none;
        padding:rem($unit-small) 0;
        border-bottom:1px solid $grey-dark;

        p{
          &:last-child(){
            margin-bottom:0;
          }
        }
    }
}
