


.o-board{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border:2px solid $blue-light;
  color:$blue-light;
  height:rem($unit*1.5);
  line-height: normal;

  @include media("<sm") {
    //  flex-flow: wrap;
      flex-direction: column;
      height:auto;
      margin-bottom:40px;
  };

  .o-page__header &{
    border:2px solid $white;
    color:$white;
  }

  & > div{
    padding:0 rem($unit-small);

    display: flex;
    align-items: center;

    @include media("<xl") {
        flex-flow: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    };

    @include media("<sm") {
        padding:10px 20px;
        border-bottom:1px solid $white;
        align-items: center;

        &:last-child{
          border-bottom:0;
        }
    };

    &:not(:first-child){

      @include media(">xs") {
          border-left:1px solid $blue-light;
      };


      .o-page__header &{
        @include media(">xs") {
            border-left:1px solid $white;
        };

      }
    }

    span{
      font-family: $font-sec;
      @include font-60;
      line-height: 40px;
      display: inline-block;
      margin-right:rem(20px);
      margin-top:10px;

      @include media("<sm") {
          margin-top:0;
      };
    }
  }

  strong{
    color:$blue-light;

    .o-page__header &{
      color:$white;
    }
    // margin-left:5px;
  }
}
