


.o-card{
  display: block;
  background: $white;
  border-radius:6px;
  padding:rem($unit-small) 0 0 ;
  position: relative;


  img{
    margin:0;
    border-radius: 50%;
    display: inline-block;
    margin-bottom:rem(20px);
  }

  &__delete{
    position: absolute;
    top:5px;
    right:5px;
  }

  &__header{
    text-align: center;

    .o-h{
      margin-bottom:rem(10px);
      // color:$purple;
    }
  }

  &__body{
    text-align: center;

    i{
      //color:$purple;
    }
  }

}
