// ==========================================================================
// Objects / Container
// ==========================================================================

//
// Page-level constraining and wrapping elements.
//
// > In programming languages the word *container* is generally used for structures
// that can contain more than one element.
// > A *wrapper* instead is something that wraps around a single object to provide
// more functionalities and interfaces to it.
// @link http://stackoverflow.com/a/13202141/140357
//

/* stylelint-disable */
@if (type-of($container-width) != number) {
    @error "`#{$container-width}` needs to be a number."
}
/* stylelint-enable */

.o-container {
    width: 100%;
  //  max-width: rem(1600px);
    z-index: 100;
    padding-left:rem($unit/2);
    padding-right:rem($unit/2);
    // position: relative;

    &.-small{
      max-width: $container-small;
      margin: 0 auto
    }

		&.-relative{
      position: relative;
    }

    &.-no-padding-left{

      @include media(">xs") {
          padding-left:0;
      };
    }
    &.-no-padding-right{


      @include media(">xs") {
          padding-right:0;
      };
    }

   


    //max-width: $container-width;
}
