.o-flex{
    display: flex;
    //width: 100%;

    &.-center{
        align-items: center;
    }

    &.-baseline{
        align-items: baseline;
    }

    &.-end{
        align-items:  flex-end;
    }

    &.-wrap{
        flex-flow: row wrap;
    }

    &.-space-between{
        //width: 100%;
        justify-content: space-between;
    }

    &.-justify-center{
        //width: 100%;
        justify-content: center;
    }
}
