// ==========================================================================
// Grid
// ==========================================================================
@mixin grid($grid-gutter: rem(40px)) {
	margin-left: -$grid-gutter;
	letter-spacing: normal;
	font-size: 0;
}

.o-grid {
	position: relative;
	@include grid;

	&.-margin-tiny {
		margin-left: rem(-13px);
	}

	&.-center-small {
		@media (max-width: $to-small) {
			text-align: center;
		}
	}

	&.-big-gutter{
		margin-left: rem(-160px);
	}
}

@mixin grid_item($grid-gutter: rem(40px)) {
	display: inline-block;
	padding-left: $grid-gutter;
    padding-bottom: $grid-gutter;
	width: 100%;
	vertical-align: top;
	font-size: 1rem;
}

.o-grid_item {
	@include grid_item;

	&.-bottom {
		vertical-align: bottom;
	}

	.o-grid.-margin-tiny & {
		padding-left: rem(13px);
	}

	.-big-gutter &{
		padding-left: rem(160px);
	}

	.o-grid.-margin-even & {
		&:nth-child(even) {
			@media (min-width: $from-small) {
			    margin-top: rem(120px);
			}
		}
	}
}

.o-half {
	@extend .o-grid_item;

	@include media(">sm") {
		width: 50%;
	};
}

.o-quarter {
	@extend .o-grid_item;

	@include media(">md") {
		width: 25%;
	};

	@include media(">sm","<md") {
		width: 50%;
	};
}

.o-whole {
	@extend .o-grid_item;
}

.o-two-thirds {
	@extend .o-grid_item;

	@include media(">md") {
		width: 65%;
	};
}

.o-third {
	@extend .o-grid_item;

	@include media(">md") {
		width: 33.33333333%;
	};
}

.o-three-quarters {
	@extend .o-grid_item;

	@include media(">md") {
		width: 75%;
	};
}

.o-three-fifths {
	@extend .o-grid_item;

	@include media(">md") {
		width: 60%;
	};
}

.o-two-fifths {
	@extend .o-grid_item;

	@include media(">md") {
		width: 40%;
	};
}
