.o-icon{

    &.-xxsmall{
        width: rem(10px);
        //height: rem(10px);
    }

    &.-xsmall{
        width: rem(14px);
        //height: rem(14px);
    }

    &.-small{
        width: rem(24px);
        //height: rem(24px);
    }

    &.-medium{
        width: rem(32px);
        //height: rem(32px);
    }

    &.-large{
        width: rem(40px);
        font-size: 40px;
        //height: rem(50px);
    }

    &.-xlarge{
        width: rem(80px);
        //height: rem(80px);
    }

    &.-extra-large{
        width: rem(120px);
        height: rem(120px);

        @include media("<md") {
            height:60px;
            width:60px;
        };
    }

    &.-flip{
        transform: rotate(180deg);
    }

    &.-rotate{
        transform: rotate(-90deg);
    }

    &.-white{
        fill:$white ;
    }




}
