


.o-link, .wpcf7-submit, .gpnf-add-entry, .gform_button{
		background: none !important;
		border:0 !important;
    display: inline-flex;
    align-items: center;
		font-family: $font-pri;
		font-weight: 800;
		text-transform: uppercase;
		color:$white !important;
		text-decoration: underline;
		font-style: italic;
		position: relative;
		transition: $speed $easing;
		cursor: pointer;


		span{
			transition: $speed $easing;
			display: flex;
			justify-content: center;
			margin-left:20px;
			width:$unit-small*1.5;
			height:$unit-small*1.5;
			border-radius: 50%;
			background: $red;
			right:-60%;
			box-shadow: 0px 0px 0px 10px rgba(186,12,47,0.5);


			@include media("<lg") {
				width:$unit-small;
				height:$unit-small;
			};

			img{
				width:$unit-small !important;
				margin-bottom:0;

				@include media("<lg") {
				    width:30px !important;
				};
			}
		}


    &:hover{
      span{
          transform: scale(1.1);
      }
    }



		&.-download{
			padding-left:20px;

			@include media("<sm") {
			    padding-left:30px;
			};

			&:after{
				position: absolute;
				z-index: -1;
				top:50%;
				left:0;
				transform: translate3d(-50%,-50%,0);
				content:'';
				width:40px;
				height:40px;
				border-radius: 50%;
				background: url('../img/download.svg');
				//box-shadow: 0px 0px 0px 8px rgba(186,12,47,0.5);
				transition: $speed $easing;

				@include media("<sm") {
				    z-index: auto;
						left:10px;
				};
			}

			&:hover{
				&:after{
					width:50px;
					height:50px;
				}
			}
		}
}


.gform_button{
	color:$black !important;
	padding-right:25px;
	&:after{
		position: absolute;
		//z-index: -1;
		top:50%;
		left:100%;
		transform: translate3d(-50%,-50%,0);
		content:'';
		width:40px;
		height:40px;
		border-radius: 50%;
		background: url('../img/commander.svg');
		//box-shadow: 0px 0px 0px 8px rgba(186,12,47,0.5);
		transition: $speed $easing;
	}
	span{
		background: none;
		box-shadow: none;
		margin-left:0;
		color:$black;
		width: auto !important;
		height: auto !important;
	}
}
