



.o-list{


  ul{
    @include u-list-reset;
    border-bottom:1px solid $grey-dark;
    margin:rem($unit) 0;

    &.-no-links{
      li{
        padding:rem(24px) 0;
      }
    }

    li{
      border-top:1px solid $grey-dark;
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      & > div{
        width:33%;

        &:last-child{
          text-align: right
        }

        @include media("<sm") {
            width:100%;
            margin-bottom:10px;

            &:last-child{
              text-align: left;
            }
        };


      }

      @include media("<sm") {
          flex-direction: column;
          align-items: flex-start;
      };

      .-baseline &{
        align-items: baseline;
      }

      strong{
        font-weight: $medium;
      }

      a{
        color:$grey-dark;
        text-decoration: none;
        padding:rem(24px) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        transition: $speed $easing;

        svg{
          color:$grey-text;
        }
      }
    }
  }
}
