

.o-modal{
    background: $purple !important;
    color:$white;
    position: fixed;
    top:50%;
    left:50%;
    padding:$unit-small !important;
    // display: flex;
    // flex-flow: wrap;
    z-index: 5000;
    width: 500px;
    height: 500px;
    visibility: hidden;
    opacity:0;
    transform: translate3d(-50%,-50%,0);
    transition: all $speed $easing;

    &.is-visible{
        visibility: visible;
        opacity:1;
    }

    .o-input{
        color:$white;
        border-color: $white;
    }

    button{
        background: $white;
        color:$purple;
        border-radius: 6px;
        padding:10px 20px;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $white;
        opacity: 1; /* Firefox */
    }

    &__inner{
        width:100%;
    }

    &__close{
        position: absolute;
        top:5px;
        right:5px;
    }
}
