


.o-number{
  position: relative;
  z-index: -1;
  margin-bottom:-10px;
  left:50%;

  @include media("<md") {
      display: none;
  };


  span{
    @include font-240;
    font-family: $font-sec;
    text-transform: uppercase;
    color:$white;
    line-height: .5;
    transform: translate3d(-50%,-90%,0);
  }

}
