

.o-overlap{
  display: flex;

  @include media("<sm") {
      flex-direction: column;
  };

  img{
    margin-bottom:0 !important;
    z-index: -1;
  }

  &__left{

    @include media(">sm") {
        transform: translateX($unit);
    };

    &.-flip-mobile{
      @include media("<sm") {
          order:2;
      };
    }


    &.-up{
      z-index: 1;
      @include media(">sm") {
          transform: translate3d($unit, $unit*2, 0);
      };
    }
  }

  &__right{
    @include media(">sm") {
        transform: translateX(-$unit);
    };

    &.-flip-mobile{
      @include media("<sm") {
          order:1;
      };
    }


    &.-up{
      z-index: 1;
      @include media(">sm") {
          transform: translate3d(-$unit, $unit*2, 0);
      };

    }
  }



  img{
    width: 100%;
  }


}
