// ==========================================================================
// Objects / Page
// ==========================================================================

.o-page{

    &__header{
      //background: $blue-light;
      color:$white;



      &.-with-bg{
        background: none;
      }

      h1{
        font-family: $font-pri;
        text-transform: none;
        letter-spacing: normal;
        @include font-100;
        font-weight: $medium;
        margin-bottom:$unit;
        color:$white;

        @include media("<sm") {
            line-height: 1.2;
            margin-bottom:$unit-small;
        };

        small{
          font-family: $font-sec;
          display: block;
          @include font-24;
          text-transform: uppercase;
          border-bottom:1px solid $white;
          line-height: 3;
          margin-bottom:$unit-small;
        }
      }
    }

    &__content{
      position: relative;

      @include media("<lg") {
          padding-top:$unit-small;
      };
    }
}
