

.o-ribbon{
    background: $white;
    height:160px;
    width:160px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left:50%;
    transform: translate3d(-50%, -120px, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 62px -24px rgba(0,0,0,0.75);
    z-index: 100;

    @include media("<md") {
        height:100px;
        width:100px;
        transform: translate3d(-50%, 50px, 0) !important;
    };

    @include media("<sm") {
        display: none;
    };

    svg{
        fill:$black;
    }
    &.-huge{

        @include media(">xl") {
            height:320px;
            width:320px;
        };

        @include media("<xl") {
            height:240px;
            width:240px;
            transform: translate3d(-50%, -100px, 0) !important;
        };

        @include media("<lg") {
            height:200px;
            width:200px;
            transform: translate3d(-50%, -80px, 0) !important;
        };

        @include media("<md") {
            height:140px;
            width:140px;
            transform: translate3d(-50%, -60px, 0) !important;

            svg{
                width:$unit;
                height:$unit;
            }
        };


    }

    .-with-ribbon &{
        //box-shadow: 0px 0px 62px -24px rgba(0,0,0,0.75);
        transform: translate3d(-50%, -160px, 0);
    }

    .o-page__header &{
        bottom:0;
        transform: translate3d(-50%, 80px, 0);
    }
}
