


.o-share{
    text-transform: uppercase;
    color:$blue;
    font-weight: $extra-bold;

    &.-spacer{
        margin-left:$unit-small;
    }

    &:hover{
        color:$red;

        svg{
            fill:$red;
        }
    }
}
