.o-slide{
	background-color:$dark-bg;
	color:$white;
	position: relative;
	//padding-bottom:rem(165px);

	@include media("<sm") {
	    padding-bottom:$unit;
	};

	h1 {
		margin-bottom:$unit*2;
		@include font-300;
		font-weight: 800;
		line-height: .8;
		color:$white;
		font-style: italic;
		text-shadow: 0px 30px 60px #00000029;

		@include media("<lg") {
		    @include font-240;
		};

		@include media("<md") {
		    text-align: center;
		};

		@include media("<sm") {
		    @include font-120;
				//margin-bottom:$unit;
				text-align: left;

		};
	}

	h2{
		@include font-100;
		font-weight: 800;
		color:$white;
		font-style: italic;
		margin-bottom:$unit-small;
		text-shadow: 0px 30px 60px #00000029;

		@include media("<lg") {
		    @include font-80;
		};

		@include media("<sm") {
		    @include font-55;
		};
	}


	&__next{
		padding:$unit-small 0;
		text-align: right;
		position: absolute;
		bottom:0;
		right:$unit;
		z-index: 500;

		@include media("<md") {
		    display: none;
		};

		img{
			width:60px;
		}
	}
}
