

.o-social{
	text-align: right;
	a{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color:$black !important;
		background: $grey-lighter;
		width:20px;
		height:20px;
		border-radius: 50%;
		margin-left:10px;

		&:hover{
			color:$red !important;
			text-decoration: none;
		}

		i{
			font-size: 12px;
		}
	}

}
