


.o-tabs{

  &__header{
    text-align: right;

    a{
      font-family: $font-sec;
      text-transform: uppercase;
      color:$grey-text;
      @include font-24;
      text-decoration: none;
      padding:10px;
      display: inline-block;
      position: relative;

      @include media("<sm") {
          font-size: 12px;
          padding:10px 5px;
      };

      &.is-active{
        color: $blue-light;

        &:after{
          content:'';
          position: absolute;
          height:4px;
          width:100%;
          bottom:0;
          left:0;
          background: $blue-light;
        }
      }
    }
  }

    &__pane{
        //padding:$unit-small 0;
        display: none;

        &.is-active{
          display: block;
        }
        ul{
            margin:0 !important;
            li{
                a{
                    color:$color;
                    display: block;
                    padding:5px;
                    svg{
                        fill:$color;
                    }
                    &:hover{

                        svg{
                        //    fill:$green;
                        }
                    }
                }
            }
        }
    }
}
