// ==========================================================================
// Objects / Text
// ==========================================================================

// Style for the wysiwyg

.o-text{

    h1,h2,h3,h4,h5,h6{
      margin-bottom:rem($unit-small/2);
    }

    // Title
    h1{
      margin-bottom:rem($unit-small);
      max-width: 90%;
    }

    h2{

    }

    h3{

    }

    h4{

    }

    h5{

    }

    h6{

    }


    // List

    ul{
        @include u-list-reset;
        //list-style-type: disc;
        padding-left:0;

        li{
            list-style-type: none;
						padding-left:$unit-small;
            background: url('../img/arrow-right-red.svg') 0 50% no-repeat;
        }
    }

    ol{
        @include u-list-reset;
        list-style-type: decimal;
        padding-left:20px;
    }

    ul,ol{
        margin-bottom:$unit-small;
    }



    // Link
    a{
			color:$white;
      // text-decoration: underline;

      &:hover{
        color:$red;
				text-decoration: none;
      }
    }

    img{
        margin-bottom: $unit-small;
        display: inline-block;
        max-width: 100%;
        width:100%;
    }


    // Blockquote
    blockquote{
      font-style: italic;
//border-left:2px solid $blue-light;
      padding-left:$unit-small/2;
    }

    dl{
        dd{
            white-space: nowrap;
        }
    }

    pre{

    }

    hr{
        margin:$unit-small 0 !important;
    }

    p{
        margin-bottom:$unit-small;
        line-height: 1.4;

        @include media("<xl") {
            margin-bottom:30px;
        };
    }



    strong{
      font-weight: $medium;
      //color:$grey-dark;
    }

    .text-block{
      border-top:1px solid $grey-dark;
      padding-top:rem(20px);
      margin-bottom:rem($unit-small);
      overflow: auto;

      p{
        max-width: 90%;
      }
    }
}
