

.o-title{
  position: relative;

  &.-big{
    h2{
      @include font-240;
      font-family: $font-sec;
      text-transform: uppercase;
      letter-spacing: rem(4px);
      font-weight: $normal;
      //color: $blue-light;
      line-height: .85;
      margin:0;
    }
  }

  &__btn{
    .o-button{

      @include media(">lg") {
        margin-left:rem($unit*2);
        margin-top:rem(-$unit*2);
      };

      @include media("<sm") {
          margin:20px 0;
      };
    }
  }
}

.o-subtitle{
  font-family: $font-sec;
  //color: $blue-light;
  text-transform: uppercase;
  @include font-24;
  display: inline-block;
  margin-bottom:rem($unit-small);
}
