/**
* Conditional Media Query Mixin
* by @sheiko (http://dsheiko.com)
*
* The problem this mixin solves is explained there
* http://css-tricks.com/conditional-media-query-mixins/
*
* https://github.com/dsheiko
* MIT license: http://www.opensource.org/licenses/mit-license.php
*/


// Predefined Break-points
@function translate-media-condition($c) {
  $condMap: (
		"screen": "only screen",
		"print": "only print",
		"retina": "(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi)",
    ">xs": "(min-width: #{$from-tiny})",
    "<xs": "(max-width: #{$to-tiny})",
    ">sm": "(min-width: #{$from-small})",
    "<sm": "(max-width: #{$to-small})",
    ">md": "(min-width: #{$from-medium})",
    "<md": "(max-width: #{$to-medium})",
    ">lg": "(min-width: #{$from-large})",
    "<lg": "(max-width: #{$to-large})",
    ">xl": "(min-width: #{$from-huge})",
    "<xl": "(max-width: #{$to-huge})",
    ">xxl": "(min-width: #{$from-enormous})",
    "<xxl": "(max-width: #{$to-enormous})",
    ">fl": "(min-width: #{$from-gigantic})",
    "<fl": "(max-width: #{$to-gigantic})",
    ">fxl": "(min-width: #{$from-colossal})",
    "<fxl": "(max-width: #{$to-colossal})"
	);
  @return map-get( $condMap, $c );
}

// The media mixin
@mixin media($args...) {
  $query: "";
  @each $arg in $args {
    $op: "";
    @if ( $query != "" ) {
      $op: " and ";
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @media #{$query}  { @content; }
}

/**
 * Usage examples
 */
/*.body {
  @include media( ">sm", "<md" ){
    background: red;
    color: white;
  };
}*/
