@mixin gradient($color1, $color2) {
  // background-color: $color1;
  background: linear-gradient(to bottom,  $color1 0%,$color2 100%);
}

@mixin gradient-side($color1, $color2) {
  // background-color: $color1;
  background: linear-gradient(to right,  $color1 0%,$color2 100%);
}

@mixin gradient-border($color1, $color2) {
  border-image: linear-gradient(to right, $color1 0%, $color2 100%);
  border-image-slice: 1;
}

@mixin gradient-border-side($color1, $color2, $width) {
  border-width: $width;
  border-style: solid;
  border-image: linear-gradient(to bottom, $color1, $color2) 1 100%;
}

@mixin section-spacing($property, $size) {

  @if $size == 'half' {
    $size: 50px;
  } @elseif $size == 'third' {
    $size: 25px;
  } @else {
    $size: 100px;
  }

  @if $property == 'margin' {
    margin: $size 0;

    @include media-breakpoint-down(lg) {
      margin: calc(#{$size} * .85) 0;
    }

    @include media-breakpoint-down(md) {
      margin: calc(#{$size} * .7) 0;
    }

    @include media-breakpoint-down(sm) {
      margin: calc(#{$size} * .55) 0;
    }

    @include media-breakpoint-down(xs) {
      margin: calc(#{$size} * .4) 0;
    }
  } @else {
    padding: $size 0;

    @include media-breakpoint-down(lg) {
      padding: calc(#{$size} * .85) 0;
    }

    @include media-breakpoint-down(md) {
      padding: calc(#{$size} * .7) 0;
    }

    @include media-breakpoint-down(sm) {
      padding: calc(#{$size} * .55) 0;
    }

    @include media-breakpoint-down(xs) {
      padding: calc(#{$size} * .4) 0;
    }
  }
}

@mixin section-bg($color, $opacity) {
  position: relative;

  .section-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      content: '';
      background: $color;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: $opacity;
    }
  }

  .section-content {
    position: relative;
    z-index: 2;
  }
}



@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}


@mixin hr($color, $size, $x, $y) {
  position: relative;
  display: inline-block;

  @if $y == 'bottom' {
    padding-bottom: 10px;

  } @else {
    padding-top: 20px;
  }

  &:after {
    content: '';
    width: 40px;
    height: $size;
    background: $color;
    position: absolute;

    @if $x == 'left' {
      left: 0;
    } @else {
      left: 50%;
      transform: translateX(-50%);
    }

    @if $y == 'bottom' {
      bottom: 0;
    } @else {
      top: 0;
    }
  }
}
