

.c-home-add{
	text-align: left;
	background: $white;
	border-radius: 6px;
	padding:rem(20px);
}



.c-patient-data{
	display: flex;
	justify-content: space-around;
	
	& > div{
		text-align: center;
		padding:10px;
	}
}

.c-add-patient{
	text-align: center;

	a{
		display: inline-block;
		margin:0 auto;
		width:$unit;
		height:$unit;
		display: flex;
		align-items: center;
		justify-content: center;
		border:2px solid $purple;
		border-radius: 50%;

		i{
			color:$purple;
		}
	}
	
}