

.c-patient{

    img{
        border-radius: 50%;
        display: block;
    }
    &__details{
        display: flex;
        margin-bottom:$unit;
        align-items: center;
    }

    &__stats{
        h4{
            margin-bottom:20px;
        }
    }

    &__data{
        padding-left:20px;

        h3{
            margin-bottom:5px;
        }
    }
}

.c-patient-details{
    display: flex;
    margin-bottom:$unit;
}