// ==========================================================================
// Utilities / Anim
// ==========================================================================

// Anim opacity
// ==========================================================================
.u-anim-opacity{
    opacity: 0;
    transition: opacity $speed-slower $easing, transform $speed-slower $easing;

    @include media(">md") {
        transform: translate3d(0,rem($unit),0);
    };

    @include media("<md") {
        transform: translate3d(0,$unit,0);
    };

    &.is-show{
        .dom-is-loaded &{
            opacity: 1;
            transform: translate3d(0,0,0);
        }

    }
}
