// ==========================================================================
// Utilities / Widths
// ==========================================================================

////
/// @link https://github.com/inuitcss/inuitcss/blob/6eb574f/utilities/_utilities.widths.scss
////

/// Which fractions would you like in your grid system(s)?
/// By default, the boilerplate provides fractions of one whole, halves, thirds,
/// quarters, and fifths, e.g.:
///
/// @example css
///   .u-1/2
///   .u-2/5
///   .u-3/4
///   .u-2/3
$widths-fractions: 1 2 3 4 5 !default;

@include widths($widths-fractions);


// TINY
// ==========================================================================

.u-1\/2\@from-xs {
    @include media(">xs") {
        width: span(1/2);
    };
}

.u-1\/3\@from-xs {
    @include media(">xs") {
        width: span(1/3);
    };
}

.u-2\/3\@from-xs {
    @include media(">xs") {
        width: span(2/3);
    };
}

.u-1\/4\@from-xs {
    @include media(">xs") {
        width: span(1/4);
    };
}

.u-2\/4\@from-xs {
    @include media(">xs") {
        width: span(2/4);
    };
}

.u-3\/4\@from-xs {
    @include media(">xs") {
        width: span(3/4);
    };
}

.u-1\/5\@from-xs {
    @include media(">sm") {
        width: span(1/5);
    };
}

.u-2\/5\@from-xs {
    @include media(">sm") {
        width: span(2/5);
    };
}

.u-3\/5\@from-xs {
    @include media(">sm") {
        width: span(3/5);
    };
}

.u-4\/5\@from-xs {
    @include media(">sm") {
        width: span(4/5);
    };
}


.u-1\/6\@from-xs {
    @include media(">xs") {
        width: span(1/6);
    };
}

.u-2\/6\@from-xs {
    @include media(">xs") {
        width: span(2/6);
    };
}


// SMALL
// ==========================================================================

.u-1\/2\@from-sm {
    @include media(">sm") {
        width: span(1/2);
    };
}

.u-1\/5\@from-sm {
    @include media(">sm") {
        width: span(1/5);
    };
}

.u-2\/5\@from-sm {
    @include media(">sm") {
        width: span(2/5);
    };
}

.u-3\/5\@from-sm {
    @include media(">sm") {
        width: span(3/5);
    };
}

.u-4\/5\@from-sm {
    @include media(">sm") {
        width: span(4/5);
    };
}

.u-1\/3\@from-sm {
    @include media(">sm") {
        width: span(1/3);
    };
}

.u-2\/3\@from-sm {
    @include media(">sm") {
        width: span(2/3);
    };
}

.u-1\/4\@from-sm {
    @include media(">sm") {
        width: span(1/4);
    };
}

.u-2\/4\@from-sm {
    @include media(">sm") {
        width: span(2/4);
    };
}

.u-3\/4\@from-sm {
    @include media(">sm") {
        width: span(3/4);
    };
}


.u-1\/6\@from-sm {
    @include media(">sm") {
        width: span(1/6);
    };
}

.u-2\/6\@from-sm {
    @include media(">sm") {
        width: span(2/6);
    };
}


// MEDIUM
// ==========================================================================

.u-1\/2\@from-md {
    @include media(">md") {
        width: span(1/2);
    };
}

.u-1\/3\@from-md {
    @include media(">md") {
        width: span(1/3);
    };
}

.u-2\/3\@from-md {
    @include media(">md") {
        width: span(2/3);
    };
}

.u-1\/4\@from-md {
    @include media(">md") {
        width: span(1/4);
    };
}

.u-2\/4\@from-md {
    @include media(">md") {
        width: span(2/4);
    };
}

.u-3\/4\@from-md {
    @include media(">md") {
        width: span(3/4);
    };
}


.u-1\/6\@from-md {
    @include media(">md") {
        width: span(1/6);
    };
}


.u-1\/5\@from-md {
    @include media(">md") {
        width: span(1/5);
    };
}

.u-2\/5\@from-md {
    @include media(">md") {
        width: span(2/5);
    };
}

.u-3\/5\@from-md {
    @include media(">md") {
        width: span(3/5);
    };
}

.u-4\/5\@from-md {
    @include media(">md") {
        width: span(4/5);
    };
}

.u-2\/6\@from-md {
    @include media(">md") {
        width: span(2/6);
    };
}

// LARGE
// ==========================================================================
.u-1\/2\@from-lg {
    @include media(">lg") {
        width: span(1/2);
    };
}

.u-1\/3\@from-lg {
    @include media(">lg") {
        width: span(1/3);
    };
}

.u-2\/3\@from-lg {
    @include media(">lg") {
        width: span(2/3);
    };
}

.u-1\/4\@from-lg {
    @include media(">lg") {
        width: span(1/4);
    };
}

.u-2\/4\@from-lg {
    @include media(">lg") {
        width: span(2/4);
    };
}

.u-1\/5\@from-lg {
    @include media(">lg") {
        width: span(1/5);
    };
}

.u-2\/5\@from-lg {
    @include media(">lg") {
        width: span(2/5);
    };
}

.u-3\/5\@from-lg {
    @include media(">lg") {
        width: span(3/5);
    };
}

.u-4\/5\@from-lg {
    @include media(">lg") {
        width: span(4/5);
    };
}

.u-3\/4\@from-lg {
    @include media(">lg") {
        width: span(3/4);
    };
}


.u-1\/6\@from-lg {
    @include media(">lg") {
        width: span(1/6);
    };
}

.u-2\/6\@from-lg {
    @include media(">lg") {
        width: span(2/6);
    };
}

// X-LARGE
// ==========================================================================
.u-1\/2\@from-xl {
    @include media(">xl") {
        width: span(1/2);
    };
}

.u-1\/3\@from-xl {
    @include media(">xl") {
        width: span(1/3);
    };
}

.u-2\/3\@from-xl {
    @include media(">xl") {
        width: span(2/3);
    };
}

.u-1\/4\@from-xl {
    @include media(">xl") {
        width: span(1/4);
    };
}

.u-2\/4\@from-xl {
    @include media(">xl") {
        width: span(2/4);
    };
}

.u-3\/4\@from-xl {
    @include media(">xl") {
        width: span(3/4);
    };
}


.u-1\/5\@from-xl {
    @include media(">xl") {
        width: span(1/5);
    };
}

.u-2\/5\@from-xl {
    @include media(">xl") {
        width: span(2/5);
    };
}

.u-3\/5\@from-xl {
    @include media(">xl") {
        width: span(3/5);
    };
}

.u-4\/5\@from-xl {
    @include media(">xl") {
        width: span(4/5);
    };
}


.u-1\/6\@from-xl {
    @include media(">xl") {
        width: span(1/6);
    };
}

.u-2\/6\@from-xl {
    @include media(">xl") {
        width: span(2/6);
    };
}
