

.c-hamburger{
	display: none !important;
	outline:0;

	&:focus{
		outline:0;
	}
	@include media("<md") {
	   display: block !important;
	};
}

.hamburger-inner::after{
	width:50% !important;
	right:0;

	.has-nav-open &{
			width:100% !important;
	}
}


.page-template-template-commander{
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
		background-color: $black !important;
	}
}
