<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png" /> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <h3>Patients list</h3>
    <div class="c-patients-list o-layout -gutter-small">
        <div class="o-layout__item u-1/4@from-sm" v-for="(patient, index) in patients.records" :key="index">
            <div class="o-card">

                <a v-on:click="deletePatient(patient.id)" class="o-card__delete" >
                    <i class="far fa-times-circle"></i>
                </a>
                <div class="o-card__header">
                    <a :href="/patients/ + patient.id" title="">
                        <img :src="patient.avatar" alt="" />
                    </a>
                    
                    <h4 class="o-h">{{ patient.firstname }} {{ patient.lastname }}</h4>
                    <!-- <p class="card-category">Last Campaign Performance</p> -->
                </div>
                <div class="o-card__body">
                    <div class="c-patient-data"> 
                        <div>
                            <i class="fas fa-heartbeat"></i> 95
                        </div>
                        <div>
                            <i class="fas fa-thermometer-half"></i> 86F
                        </div>
                        <div>
                            <i class="fas fa-file-medical-alt"></i> 102
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="c-add-patient">
        <a href="" title="">
            <i class="fas fa-plus o-icon -large"></i>
        </a>
    </div>

    <div class="o-box o-modal">
        <h3>Ajouter un patient</h3>
        <a href="#" title="" class="o-modal__close">
            <i class="far fa-times-circle"></i>
        </a>
        <div class="o-form">
            <div class="o-form__field">
                <input v-model="newFirstname" class="o-input" type="text" id="firstanme" placeholder="Prénom">
            </div>
            <div class="o-form__field">
                <input v-model="newLastname" class="o-input" type="text" id="lastname" placeholder="Nom">
            </div>
            <div class="o-form__field">
                <input v-model="newAge" class="o-input" type="text" id="age" placeholder="Age">
            </div>
            <div class="o-form__field">
                <input v-model="newSexe" class="o-input" type="text" id="sexe" placeholder="Sexe">
            </div>
            <div class="o-form__field">
                <input v-model="newEmail" class="o-input" type="text" id="email" placeholder="Courriel">
            </div>     
            </div>
            <button type="submit" v-on:click="addNew">Add new patient</button>
            <span v-show="error" class="error">Oops! Patient need a front and a back.</span>
       
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from "@/components/HelloWorld.vue";

import axios from 'axios';

export default {
  name: "home",
  props:['id'],
  data() {
      return{
          patients:null,
          endpoint:'http://localhost:3000/api/patients/',
          result:null,
      };
  },

  created () {
    //var self = this;
    this.getAllPatients();
  },

  methods:{
    getAllPatients() {
        axios.get(this.endpoint)
        .then(
            response => {
                this.patients = response.data;  
            }
        )
        .catch(
            error => {
                console.log('-----error-------');
                console.log(error);
            }
        )
    }, 
    deletePatient(id){
        console.log('ID + : ' + id);
        axios.delete(this.endpoint+id)
        .then( 
          response => {
             this.result = response.data
          }
        )
        .catch(
          error => {
            console.log(error)
          }
        )
    } 
  },
};


</script>
