<template lang="html">
  <div class="c-patient" v-if="patient">

    <div class="c-patient__details"> 
      <div class="c-patient_avatar">
        <img :src="patient.avatar" alt="" />
      </div>
      <div class="c-patient__data">
        <h3>{{ patient.firstname }} {{ patient.lastname }}, {{ patient.age }}</h3>
        <p>
          <a :href="patient.email"> <i class="far fa-envelope"></i>  {{ patient.email }}</a>
        </p>
      </div>
      <!-- <p class="post__body">{{ patient.body }}</p> -->
      
    </div>

    <div class=" o-layout -gutter-small">
      <div class="o-layout__item u-1/3@from-sm">
          <div class="o-box c-patients__stats">
            <h4><i class="fas fa-heartbeat"></i> Cardiac frequency</h4>
              <div>
                   Min: 69
              </div>
              <div>
                  Max:  120
              </div>
              <div>
                Avg: 90
              </div>
          </div>
      </div>
      <div class="o-layout__item u-1/3@from-sm">
          <div class="o-box c-patients__stats">
            <h4><i class="fas fa-thermometer-half"></i> Temperature</h4>
              <div>
                   Min: 76F
              </div>
              <div>
                  Max:  86F
              </div>
              <div>
                Avg: 82F
              </div>
          </div>
      </div>
      <div class="o-layout__item u-1/3@from-sm">
          <div class="o-box c-patients__stats">
            <h4><i class="fas fa-file-medical-alt"></i> SpO<sup>2</sup></h4>
              <div>
                   Min: 82
              </div>
              <div>
                  Max:  120
              </div>
              <div>
                Avg: 96
              </div>
          </div>
      </div>
    </div>
    
  </div>
</template>


<script>
  import axios from 'axios';
  export default {
    name: "patient",
    props:['id'],
    data() {
      return { 
        patient:null,
        endpoint:'http://localhost:3000/api/patients/',
        }
    },

    created(){
      this.getPatient(this.id);
    },

    
    methods:{
      getPatient(id) {
        axios(this.endpoint+id)
        .then( 
          response => {
            this.patient = response.data
          }
        )
        .catch(
          error => {
            console.log(error)
          }
        )
      }
    },
  }
</script>