/****   BREAKPOINTS ****/
/*-- BREAKPOINTS 1900px --*/
@media only screen and (max-width:1900px) {}
/*-- BREAKPOINTS 1650px --*/
@media only screen and (max-width:1650px) {
  .accueil .clients {
    padding: 125px 10%;
  }

  .accueil .gardiens {
    padding: 125px 0 125px 10%;
    min-height: 100%;
  }

  .accueil .introtext {
    padding: 125px 0;
  }

  .accueil .video {
    padding: 0 0 125px;
    margin-bottom: 0;
  }

  .accueil .sectionentete {
    height: 100%;
  }
}
/*-- BREAKPOINTS 1500px --*/
@media only screen and (max-width:1500px) {
  .accueil .clients {
    padding: 100px 5%;
  }

  .accueil .gardiens {
    padding: 100px 0 100px 5%;
    min-height: 100%;
  }

  .accueil .introtext {
    padding: 100px 0;
  }

  .accueil .video {
    padding: 0 0 100px;
    margin-bottom: 0;
  }

  .accueil .clients .clientsfirst {
    margin-bottom: 75px;
  }
}
/*-- BREAKPOINTS 1200px --*/
@media only screen and (max-width:1200px) {
  .accueil .video {
    padding-bottom: 0;
  }
}
/*-- BREAKPOINTS 1000px --*/
@media only screen and (min-width:1000px) {
  .accueil .sologardienmobile {
    display: none;
  }

  .accueil .gardiensrouge {
    display: block;
  }
}
/*-- BREAKPOINTS 1000px --*/
@media only screen and (max-width:1000px) {
  .accueil .sologardienmobile {
    display: block;
    width: 65%;
  }

  .accueil .gardiensrouge {
    display: none;
  }

  .accueil .savoirbtn {
    position: relative;
    left: 0;
  }

  .accueil .gardiens {
    background-color: $rouge;
  }

  .accueil .savoirbtn {
    bottom: 0;
    left: 0;
    position: relative;
  }

  .accueil .gardienbg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .accueil .clients .clientsfirst {
    margin-bottom: 75px;
    display: flex;
    justify-content: center;
  }

  .accueil .clients .client {
    margin-bottom: 15px;
  }

  .accueil .clients .clientssecond {
    display: flex;
    justify-content: center;
  }

  .accueil .gardienbg {
    width: 100%;
  }

  .accueil .savoirbtn {
    left: 0;
    position: relative;
    margin-top: 50px;
  }

  .accueil .gardiens {
    padding-left: 0;
  }
}
@media only screen and (max-width:800px) {
  .accueil .introtext .wysiwyg {
    font-size: 2rem;
  }

  .accueil .video {
    margin-top: 0;
    margin-bottom: 75px;
  }

  .accueil .introtext {
    padding: 75px 0;
  }

  .accueil .gardiens {
    padding: 75px 0;
  }

  .accueil .sectionentete {
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-direction: column-reverse;
    padding-left: 5%;
    padding-right: 5%;

    h1 {
      margin-bottom: 0;
    }
  }

  .accueil .gardiens {
    display: block;

    h2 {
      padding-left: 5%;
    }
  }

  .accueil .introtext {
    padding-top: 50px;
  }

  .accueil .introwrap {
    margin-top: 50px;
    position: relative;
    left: unset;
    text-align: left;
  }

  .accueil .gardiens .introwrap {
    margin-top: 0;
  }

  .accueil .clients {
    padding: 75px 5%;
  }
}
/*-- BREAKPOINTS 600px --*/
@media only screen and (max-width:600px) {
  .accueil {
    padding-top: 100px;
  }

  .accueil .introtext .wysiwyg {
    font-size: 1.6rem;
  }

  .accueil .savoirbtn {
    font-size: 2rem;
  }

  .accueil .video {
    margin-bottom: 25px;
  }

  .accueil .contactform {
    padding: 15% 5% 0;

    .col-xl-12 {
      padding: 0;
      margin: 0 auto;
    }
  }

  .accueil .entete {
    margin-top: 5rem;
    background-position: top right!important;
  }

  .accueil .entete {
    align-items: center;
  }

  #mc_embed_signup_scroll {
    flex-direction: column;
  }

  #mc_embed_signup_scroll input[type="submit"] {
    margin-left: 0;
    margin-top: 10px;
  }
}
