/****   BREAKPOINTS ****/
/*-- BREAKPOINTS 1900px --*/
@media only screen and (max-width:1900px) {
  .lesgardiens .modeles .modele {
    padding: 0 3%;
  }
}
/*-- BREAKPOINTS 1650px --*/
@media only screen and (max-width:1650px) {
  .accueil .video {
    padding-left: 10%;
    padding-right: 10%;
  }

  .lesgardiens .couleurs h2 {
    padding-left: 10%;
  }

  .lesgardiens .modeles,
  .lesgardiens .optimisationscontent,
  .lesgardiens .options,
  .lesgardiens .specifications {
    padding-left: 10%;
    padding-right: 10%;
  }

  .lesgardiens .modeles,
  .lesgardiens .optimisationscontent,
  .lesgardiens .options,
  .lesgardiens .specifications {
    margin: 125px 0;
    padding: 0 10%;
  }

  .lesgardiens .modeles {
    margin-top: 0;
  }

  .lesgardiens .optimiser {
    margin: 125px 0;
  }

  .lesgardiens .couleurs {
    padding: 125px 0;
  }

  .lesgardiens .ctacommandez {
    padding: 125px 0;
  }
}
/*-- BREAKPOINTS 1500px --*/
@media only screen and (max-width:1500px) {
  .accueil .video {
    padding-left: 5%;
    padding-right: 5%;
  }

  .lesgardiens .optimisationscontent {
    font-size: 2rem;
  }

  .lesgardiens .textoptions {
    font-size: 2rem;
  }

  .lesgardiens .couleurs h2 {
    padding-left: 5%;
  }

  .lesgardiens h2 {
    margin-bottom: 25px;
  }

  .lesgardiens .options h3 {
    font-size: 4rem;
  }

  .lesgardiens .modeles h3 {
    font-size: 4rem;
  }

  .lesgardiens .modeles .mesuresmodele {
    font-size: 2rem;
  }

  .lesgardiens .couleurs img {
    height: auto;
  }

  .lesgardiens .specifications img {
    margin-bottom: 25px;
  }

  .lesgardiens .specifications .titrespecs {
    font-size: 25px;
    margin-bottom: 50px;
  }

  .lesgardiens .modeles,
  .lesgardiens .optimisationscontent,
  .lesgardiens .options,
  .lesgardiens .specifications {
    padding-left: 5%;
    padding-right: 5%;
  }

  .lesgardiens .modeles,
  .lesgardiens .optimisationscontent,
  .lesgardiens .options,
  .lesgardiens .specifications {
    margin: 100px 0;
    padding: 0 5%;
  }

  .lesgardiens .optimiser {
    margin: 100px 0;
  }

  .lesgardiens .modeles {
    margin-top: 0;
  }

  .lesgardiens .couleurs {
    padding: 100px 0;
  }

  .lesgardiens .ctacommandez {
    padding: 100px 0;
  }
}
/*-- BREAKPOINTS 1200px --*/
@media only screen and (max-width:1200px) {
  .lesgardiens .modeles .modele {
    padding: 0;
    display: flex;

    .rightmodele {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 5%;
      text-align: left;
    }
  }

  .lesgardiens .options .singlestyle {
    display: flex;
  }

  .lesgardiens .options h3 {
    margin-bottom: 50px;
  }

  .lesgardiens .options .alloptions .rightstyle {
    padding-left: 0;
  }

  .lesgardiens .options .textstyle {
    padding-right: 0;
  }

  .lesgardiens .modele img {
    width: 50%;
    height: 100%;
  }
}
/*-- BREAKPOINTS 1000px --*/
@media only screen and (max-width:1000px) {
  .lesgardiens .ctacommandez {
    font-size: 5rem;
  }

  .lesgardiens .video {
    padding-left: 0;
    padding-right: 0;
  }

  .lesgardiens .modeles .modele {
    margin-bottom: 25px;
  }

  .lesgardiens .modeles .modele:last-child {
    margin-bottom: 0;
  }

  .lesgardiens .options .alloptions .rightstyle {
    margin-top: 25px;
  }

  .lesgardiens .modeles,
  .lesgardiens .optimisationscontent,
  .lesgardiens .options,
  .lesgardiens .specifications {
    margin: 75px 0;
  }

  .lesgardiens .modeles .modele .rightmodele {
    width: 50%;
  }

  .lesgardiens .optimiser {
    margin: 75px 0;
  }

  .lesgardiens .couleurs,
  .lesgardiens .ctacommandez {
    margin: 75px 0;
  }

  .lesgardiens .modeles {
    margin-top: 0;
  }

  .lesgardiens .couleurs,
  .lesgardiens .ctacommandez {
    padding: 75px 0;
  }

  .lesgardiens .ctacommandez {
    margin-bottom: 0;
  }

  .lesgardiens .couleurs {
    margin-top: 0;
    margin-bottom: 0;
  }

  .lesgardiens .options .singlestyle img {
    width: 60%;
  }

  .lesgardiens .options .singlestyle:first-child {
    margin-bottom: 25px;
  }

  .lesgardiens .options .leftstyle,
  .lesgardiens .options .rightstyle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .lesgardiens .options .textstyle {
    font-size: 18px;
  }
}
@media only screen and (max-width:800px) {
  .lesgardiens .options .singlestyle img {
    width: 100%;
  }

  .lesgardiens .couleurs img {
    height: auto;
  }
}
/*-- BREAKPOINTS 600px --*/
@media only screen and (max-width:600px) {
  .lesgardiens .modeles .modele .rightmodele {
    width: 100%;
  }

  .lesgardiens .modeles .modele {
    flex-direction: column;
  }

  .lesgardiens .options .singlestyle img {
    width: 100%;
    height: auto;
  }

  .lesgardiens .modeles .modele {
    justify-content: center;
    align-items: center;
  }

  .lesgardiens h1,
  .lesgardiens h2 {
    margin-bottom: 50px;
  }

  .lesgardiens h2 {
    margin-bottom: 25px;
  }

  .lesgardiens .modeles h3,
  .lesgardiens .options h3 {
    font-size: 2.5rem;
  }

  .lesgardiens .modele img {
    width: 75%;
    height: auto;
  }

  .lesgardiens .modeles .modele .rightmodele {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .lesgardiens .ctacommandez {
    font-size: 3rem;
  }

  .lesgardiens .specifications .titrespecs {
    margin-bottom: 25px;
  }

  .lesgardiens .modeles .descriptionmodele {
    font-size: 1.6rem;
  }
}
