/********   ********/
/****   FICHIER SCSS POUR LES BREAKPOINTS DES CLASSES GÉNÉRIQUES DU SITE  ****/
/********   ********/
/*-- BREAKPOINTS 1650px --*/
@media only screen and (max-width:1650px) {
  footer {
    padding: 0 10%;
  }

  .header__container {
    padding: 0 10%;
  }

  .contactform {
    padding: 0 10%;
  }

  .contactleft {
    padding: 0;
  }

  .commander {
    max-width: 100%;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
  }
}
/*-- BREAKPOINTS 1500px --*/
@media only screen and (max-width:1500px) {
  h1 {
    font-size: 6rem;
    margin-top: 0;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 4rem;
  }

  .header {
    height: 125px;
  }

  .header__logo-box {
    width: 30rem;
  }

  .contactleft h2 {
    padding-left: 0;
  }

  .contactform .col-xl-12:first-child {
    padding: 0;
  }

  .accueil .contactform,
  .accueil .entete {
    padding: 0 5%;
  }

  footer {
    padding: 0 5%;
  }

  .header__container {
    padding: 0 5%;
  }

  .contactform {
    padding: 150px 5% 0;
  }

  .commander {
    padding-top: 150px;
    max-width: 100%;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
  }
}
/*-- BREAKPOINTS 1200px --*/
@media only screen and (max-width:1300px) {
  .header {
    height: 100px;
  }

  .header__logo-box {
    width: 25rem;
  }
}
/*-- BREAKPOINTS 1200px --*/
@media only screen and (max-width:1200px) {
  .accueil .contactleft {
    margin-bottom: 100px;
  }

  .accueil .contactform {
    padding-top: 5%;
  }

  .accueil .video {
    padding: 0;
  }

  .contactform {
    .contactleft,
    .contactright {
      // padding: 0;
    }
  }

  .contactform {
    padding: 100px 5%;
  }

  .commander {
    padding-top: 150px;
  }

  .wrapinfosresponsble {
    margin-top: 25px;
  }
}
/*-- BREAKPOINTS 1000px --*/
@media only screen and (max-width:1000px) {
  footer .leftfooter,
  footer .rightfooter {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0;
  }

  footer {
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  footer .leftfooter .logocaissy {
    margin-bottom: 50px;
  }

  footer .rightfooter img:first-child {
    margin-right: 0;
  }

  footer .rightfooter img {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
  }
}
/*-- BREAKPOINTS min800px --*/
@media only screen and (min-width:800px) {
  header .mobilemenu {
    display: none;
  }
  header .hamburger{
    display: none;
  }

  header .header__container .header__options,
  header .header__options .lang {
    display: flex;
  }
}
/*-- BREAKPOINTS 800px --*/
@media only screen and (max-width:800px) {
  header .header__container .header__options,
  header .header__options .lang {
    display: none;
  }
  header .hamburger{
    display: flex;
  }

  header {
    transition: all 0.3s;
  }

  .blackbg {
    background-color: rgba(0,0,0,1) !important;
  }

  .header .header__container .lang {
    display: none;
  }

  .header .mobilemenu .lang {
    margin-top: 50px;
    justify-content: center;
    align-content: center;
  }

  .header__options .button {
    font-size: 4rem;
    margin: 15px 0;
    font-family: $FuturaCondensedExtraBold;
  }

  .header .mobilemenu .lang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sociaux {
      display: flex;
      margin-bottom: 50px;

      a:first-child i {
        margin-right: 15px;
      }

      a:last-child i {
        margin-right: 0;
      }
    }
  }

  .header__options {
    align-items: center;
    justify-content: center;

    .menuheader {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }

  .openmenu {
    overflow: visible;
    height: calc(100vh - 100px) !important;
  }

  .fixed {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    background-color: $blanc;
  }

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::after,
  .hamburger.is-active .hamburger-inner::before {
    background-color: $blanc;
  }

  .contactform {
    padding-top: 150px;
  }

  #mc_embed_signup_scroll input[type=submit] {
    justify-content: center;
  }

  header .mobilemenu {
    display: flex;
    height: 0;
    overflow: hidden;
    transition: all 0.6s;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 2 !important;
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    background-color: $rouge;
  }

  .contactleft {
    margin-bottom: 50px;
  }

  .accueil .entete {
    margin-top: 0;
  }

  .accueil .entete {
    min-height: 80vh;
    width: 100%;

    background-position: center right!important;
  }

  .accueil .video {
    padding: 0;
    margin: 25px 0;

    iframe {
      height: 400px;
    }
  }

  header {
    background-color: $noir;
    z-index: 1;
    padding: 15px 0;
  }
}
/*-- BREAKPOINTS 600px --*/
@media only screen and (max-width:600px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  .header__options .button {
    font-size: 3rem;
  }

  .accueil .entete {
    padding: 0;
  }

  .contactform {
    padding: 100px 5% 0;
  }

  .commander {
    padding-top: 100px;
  }

  .logosite {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  footer .logocaissy {
    width: 250px;
  }

  footer {
    margin-right: 0!important;
    margin-left: 0!important;
  }

  footer .logos,
  footer .row_copyright {
    display: flex;
    flex-direction: column;
  }

  footer .lien-hatem {
    margin: 15px 0 0;
  }

  footer .rightfooter img:first-child {
    margin-left: 0;
  }

  footer .rightfooter {
    margin-top: 0;
  }

  .wpcf7-form input[type="email"],
  .wpcf7-form input[type="text"],
  .wpcf7-form textarea {
    margin-left: -20px;
    width: calc(100% + 20px)!important;
    max-width: calc(100% + 20px)!important;
  }

  header .logocaissy {
    width: 250px;
    height: auto;
  }



  .subscribe {
    width: 100%;
  }

  #mc-embedded-subscribe-form {
    width: 100%;
  }
}
