/********   ********/
/****   FICHIER SCSS POUR LES CLASSES GÉNÉRIQUES DU SITE  ****/
/********   ********/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  @include respond(tab-land) {
    font-size: 55%;
  }
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: $noir;
  color: $blanc;
  font-family: $TradeGothicLTComCn18;
}

a {
  color: $blanc;

  &:active,
  &:hover,
  &:visited {
    color: $blanc;
    text-decoration: none;
  }
}

.wpml-ls-display {
  display: none;
}

#mc-embedded-subscribe-form {
  padding-left: 0!important;

  input {
    width: 100%!important;
    height: 5rem;
    padding-left: 2rem!important;
  }
}

#mc_embed_signup_scroll {
  display: flex;

  input[type="email"] {
    margin: 0!important !important;
    width: 25rem;
    text-align: left;
    max-width: 50rem;
    background-color: $blanc;
    color: $noir !important;
    border: 2px solid $rouge !important;

    &:active,
    &:focus {
      outline: none;
    }
  }

  input[type="submit"] {
    height: 5rem;
    margin: 0;
    padding: 0!important !important;
    text-align: center;
    background-color: $blanc !important;
    color: $noir !important;
    border: 2px solid $rouge !important;
    margin-left: 25px;
    font-weight: bolder;
  }
}

#mc-embedded-subscribe-form {
  width: 45rem;
}

#mc_embed_signup .labelnewsletter {
  font-weight: bolder;
}

#mc_embed_signup form {
  padding: 0!important !important;

  label {
    margin: 0;
    padding: 0;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input,
select,
textarea {
  font-size: 1.8rem;
  border: 1px solid $gris-fonce!important;
  border-radius: 2px!important;
  color: $blanc!important;
  padding: 5px 4px!important 5px 2rem!important !important;
  background-color: $gris-fonce;

  &:focus {
    outline: 1px solid lighten($gris-fonce, 15%);
  }
}

input[type="submit"] {
  border-radius: unset!important;
  background-color: $rouge!important;
  color: $blanc!important;
  text-transform: uppercase!important;
  font-size: 1.6rem;
}

div.wpcf7-acceptance-missing,
div.wpcf7-validation-errors {
  border: 2px solid #878787;
}

.wpcf7-form-control-wrap {
  margin-top: 1.5rem;
  display: block;
}

.wpcf7-form {
  p {
    margin: 0;
  }

  input[type="submit"] {
    position: absolute;
    right: 3.5rem;
    bottom: 0;
    @include respond(tab-land) {
      right: 2rem;
    }
    @include respond(phone) {
      right: 0;
    }
  }

  input[type="text"],
  input[type="email"],
  textarea {
    margin-left: -2rem;
    width: 100%!important;
    max-width: 100%!important;
    line-height: 1.14;
    letter-spacing: 0.3px;
    font-family: $TradeGothicLTComCn18;
  }

  textarea {
    padding-top: 2rem;
  }

  label {
    font-size: 1.6rem;
    letter-spacing: 0.8px;
    width: 100%!important;
    max-width: 100%!important;
    font-family: $TradeGothicLTComBdCn20;
  }
}

.wpcf7-form label {
  text-transform: uppercase;
  padding-left: 2rem;
  margin-bottom: 4rem;

  input,
  textarea {
    margin-left: -2rem;
  }

  input {
    height: 5rem;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px black inset;
    -webkit-text-fill-color: white !important;
  }

  textarea {
    min-height: 20rem;
  }
}

.wysiwyg {
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: $TradeGothicLTComCn18;
}

.titresubscribe {
  line-height: 1.19;
  letter-spacing: 0.3px;
  font-size: 1.6rem;
  font-family: $TradeGothicLTComBdCn20;
}

span.wpcf7-not-valid-tip {
  color: $rouge;
}

::selection {
  color: $rouge;
  background-color: grey;
}

::-moz-selection {
  color: $rouge;
  background-color: grey;
}

div.wpcf7-response-output {
  margin: 6em 0.5em 1em;
  padding: 1.2em 1em;
  font-size: 1.6rem;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: 0;
}

.container {
  width: 95%;
  padding: 0;

  &--small {
    width: 1000px;
  }
}
