/********   ********/
/****   FICHIER SCSS POUR LES TYPO  ****/
/********   ********/

/* Webfont: FuturaCondensedExtraBold */
@font-face {
  font-family: 'FuturaCondensedExtraBold';
  src: url('../fonts/FuturaCondensedExtraBold.otf'); /* IE9 Compat Modes */
  font-weight: normal;
  font-style: normal;
}

/* Webfont: TradeGothicLTComCn18 */
@font-face {
  font-family: 'TradeGothicLTComCn18';
  src: url('../fonts/TradeGothicLTComCn18.TTF'); /* IE9 Compat Modes */
  font-weight: normal;
  font-style: normal;
}

/* Webfont: TradeGothicLTComBdCn20 */
@font-face {
  font-family: 'TradeGothicLTComBdCn20';
  src: url('../fonts/TradeGothicLTComBdCn20.TTF'); /* IE9 Compat Modes */
  font-weight: normal;
  font-style: normal;
}

$TradeGothicLTComCn18: 'TradeGothicLTComCn18';
$TradeGothicLTComBdCn20:'TradeGothicLTComBdCn20';
$FuturaCondensedExtraBold: 'FuturaCondensedExtraBold';
