/********   ********/


/****   FICHIER SCSS POUR LES VARIABLES  ****/


/********   ********/


/*EX:
/********   ********/


/****   COLOR  ****/


/********   ********/

$noir: #000;
$blanc: #fff;
$rouge: #BA0C2F;
$rouge-fonce: #a20a29;
$gris-fonce: #1C1C1C;

// h1 {
//     font-size: 7.4rem;
//     font-family: $FuturaCondensedExtraBold;
//     text-transform: uppercase;
//     letter-spacing: 0.4px;
// }
//
// h2 {
//     margin-bottom: 7rem;
//     width: 100%;
//     font-size: 7.4rem;
//     font-family: $FuturaCondensedExtraBold;
//     text-transform: uppercase;
//     letter-spacing: 0.4px;
// }


/********       ********/


/****   FONT SIZE  ****/


/********      ********/
