@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

// Colors
// =============================================================================
$white:          #ffffff;
$black:          #000000;
$grey-lighter:   #e9ecf5;
$grey-light:     #e9ecf5;
$grey:           #58595b;
$grey-dark:      #33363d;
$grey-darker:    #29292b;
$grey-text:      #abafb8;

$purple:         #9368E9;
$dark-bg: 		 #1A1A1A;
$light-bg: 		 #FAFAFA;
$red:            #BA0C2F;
$green:          #7EAA03;

$Roboto : 'Roboto', sans-serif;

// Font family
// =============================================================================
$font-pri:       $Roboto;
$font-sec:       'Teko', sans-serif;
$font-title:     $font-pri;


// Base
$font-size:   20px;
$line-height: 24px / $font-size;
$font-family: $font-pri;
$color:       #32323a;


// Specific
// =============================================================================

//Link
$link-color:                $color;
$link-focus-color:          $color;
$link-hover-color:          $color;
$button-color:              $white;
$button-bg:                 $color;
$button-color-hover:        $white;
$button-bg-hover:           $black;
// Selection
$selection-text-color:       $white;
$selection-background-color: $black;
// Body
$body-bg:                   $grey-light;
$body-color:                $grey-dark;

// Scroll
$scroll-thumb:              $black;





// Headings
$font-size-h1:  60px  !default;
$font-size-h2:  48px  !default;
$font-size-h3:  36px  !default;
$font-size-h4:  20px  !default;
$font-size-h5:  12px  !default;
$font-size-h6:  16px  !default;
$line-height-h: .8;




// Weights
//$light:          300;
$normal:         400;
$medium:         600;
$bold:           700;
$extra-bold:     800;


// Spacing Units
// =============================================================================
$unit:       80px;
$unit-small: 40px;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;



// Transitions
// =============================================================================
// Speed
$speed: 0.3s;
$speed-faster: ($speed * 0.5);
$speed-fast: ($speed * 0.7);
$speed-slow: ($speed * 2);
$speed-slower: ($speed * 3);
$speed-slowest: ($speed * 4);
// Easing
$linear: linear;
$easing: cubic-bezier(0.4, 0, 0.2, 1);
$bounce: cubic-bezier(0.7, -0.7, 0, 1.3);
$bounce-smooth: cubic-bezier(0.1, -0.1, 0, 0.3);




// Containerd
// ==========================================================================
$container-width: 2000px;
$container-small: 1600px;
$padding:         $unit;




// Breakpoints
// ==========================================================================
$from-tiny:    	300px              !default;
$to-tiny:       $from-tiny - 1     !default;
$from-small:    700px              !default;
$to-small:      $from-small - 1    !default;
$from-medium:   1000px             !default;
$to-medium:     $from-medium - 1   !default;
$from-large:    1200px             !default;
$to-large:      $from-large - 1    !default;
$from-big:      1400px             !default;
$to-big:        $from-big - 1      !default;
$from-huge:     1681px             !default;
$to-huge:       $from-huge - 1     !default;
$from-enormous: 1800px             !default;
$to-enormous:   $from-enormous - 1 !default;
$from-gigantic: 2000px             !default;
$to-gigantic:   $from-gigantic - 1 !default;
$from-colossal: 2400px             !default;
$to-colossal:   $from-colossal - 1 !default;
