// ==========================================================================
// Base / Font size
// ==========================================================================


// Create your own mixin for all your font-size!!


@mixin font-300 {

    @include media(">xl") {
        font-size: rem(300px);
    };

    @include media("<xl") {
        font-size: 200px;
    };
}


@mixin font-240 {
    @include media(">xl") {
        font-size: rem(240px);
    };

    @include media("<xl") {
        font-size: rem(180px);
    };

    @include media("<sm") {
        font-size: 80px;
    };
}


@mixin font-200 {
    @include media(">xl") {
        font-size: rem(200px);
    };

    @include media("<xl") {
        font-size: rem(140px);
    };

    @include media("<md") {
        font-size: 100px;
    };

    @include media("<sm") {
        font-size: 46px;
    };
}

@mixin font-180 {
    @include media(">xl") {
        font-size: rem(180px);
    };

    @include media("<xl") {
        font-size: rem(140px);
    };

    @include media("<md") {
        font-size: 100px;
    };

    @include media("<sm") {
        font-size: 46px;
    };
}

@mixin font-120 {
    font-size: rem(120px);
}

@mixin font-100 {

    @include media(">xl") {
        font-size: rem(100px);
    };

		@include media("<xl") {
        font-size: 80px;
    };


}


@mixin font-80 {

    font-size: rem(80px);


}

@mixin font-70 {
    @include media(">md") {
        font-size: rem(70px);
    };

		@include media("<md") {
				font-size: 70px;
		};

}

@mixin font-60 {
    @include media(">md") {
        font-size: rem(60px);
    };
		@include media("<md") {
        font-size: 60px;
    };
}

@mixin font-55 {
    @include media(">md") {
        font-size: rem(55px);
    };

		@include media("<md") {
				font-size: 50px;
		};


}

@mixin font-46 {
    @include media(">md") {
        font-size: rem(46px);
    };

    @include media(">sm","<md") {
        font-size: 46px;
    };

    @include media("<sm") {
        font-size: 40px;
    };

}


@mixin font-40 {
    @include media(">md") {
        font-size: rem(40px);
    };

    @include media(">sm","<md") {
        font-size: 40px;
    };

    @include media("<sm") {
        font-size: 30px;
    };
}


@mixin font-36 {
    @include media(">md") {
        font-size: rem(36px);
    };

    @include media(">sm","<md") {
        font-size: 36px;
    };

    @include media("<sm") {
        font-size: 36px;
    };
}


@mixin font-30 {

    @include media(">md") {
        font-size: rem(30px);
    };

    @include media("<md") {
        font-size: 30px;
    };




}

@mixin font-24 {
    @include media(">md") {
        font-size: rem(24px);
    };

    @include media("<lg") {
        font-size: 20px;
    };


    @include media("<sm") {
        font-size: 20px;
    };
}

@mixin font-20 {
    @include media(">md") {
        font-size: rem(20px);
    };

    @include media(">sm","<md") {
        font-size: 20px;
    };

    @include media("<sm") {
        font-size: 20px;
    };
}

@mixin font-18 {

    @include media(">md") {
        font-size: rem(18px);
    };

    @include media(">sm","<md") {
        font-size: 18px;
    };

    @include media("<sm") {
        font-size: 16px;
    };
}

@mixin font-15 {
    @include media(">md") {
        font-size: rem(15px);
    };

    @include media(">sm","<md") {
        font-size: 15px;
    };

    @include media("<sm") {
        font-size: 15px;
    };
}

@mixin font-14 {
    @include media(">md") {
        font-size: rem(14px);
    };

    @include media(">sm","<md") {
        font-size: 14px;
    };

    @include media("<sm") {
        font-size: 14px;
    };
}

@mixin font-12 {
    @include media(">md") {
        font-size: rem(12px);
    };

    @include media("<sm") {
        font-size: 12px;
    };
}

@mixin font-11 {
    @include media(">md") {
        font-size: rem(11px);
    };

    @include media(">sm","<md") {
        font-size: 11px;
    };

    @include media("<sm") {
        font-size: 11px;
    };
}


@mixin font-10 {
    @include media(">md") {
        font-size: rem(10px);
    };

    @include media(">sm","<md") {
        font-size: 10px;
    };

    @include media("<sm") {
        font-size: 10px;
    };
}

@mixin font-9 {
    @include media(">md") {
        font-size: rem(9px);
    };

    @include media(">sm","<md") {
        font-size: 9px;
    };

    @include media("<sm") {
        font-size: 9px;
    };
}
