// ==========================================================================
// Base / Fonts
// ==========================================================================

@font-face {
    // font-family: 'Swift721';
    // src: url('../fonts/Swiss721BT-Medium.woff2') format('woff2'),
    //     url('../fonts/Swiss721BT-Medium.woff') format('woff');
    // font-weight: $medium;
    // font-style: normal;
}

//$font-swift:      'Swift721';
