// ==========================================================================
// Base / Headings
// ==========================================================================

@mixin h {

    line-height: 1;
    font-family: $font-title;
    font-weight: $medium;
    //text-transform: uppercase;
    margin:0;
}

//
// Provide a generic class to apply common heading styles.
//
// @example
//   <p class="u-h"></p>
//
//
.o-h {
    @include h;
    //color:$grey-dark;
}

//
// Styles for headings 1 through 6 with classes to provide
// a double stranded heading hierarchy, e.g. we semantically
// need an H2, but we want it to be sized like an H1:
//
// @example
//   <h2 class="o-h1"></h2>
//
// You can use it as a mixing using ex:  @include font-50; that you can edit in font-size.scss
h1, .o-h1 {
    @extend .o-h;
		@include font-200;
		font-weight: 400;
		margin-bottom:$unit-small;
}

h2, .o-h2 {
    @extend .o-h;
		@include font-100;
		font-weight: 400;
		margin-bottom:$unit-small;

		&.-outline{
			@include media(">sm") {
				-webkit-text-stroke: 1px rgba($red,.5);
				-webkit-text-fill-color: $dark-bg;
			};

		}
}

h3, .o-h3 {
    @extend .o-h;
    font-size: rem($font-size-h3);
    font-weight: 300;
    margin-bottom:$unit-small;

}

h4, .o-h4 {
    @extend .o-h;
    font-size: rem($font-size-h4);
    margin-bottom:10px;
}

h5, .o-h5 {
    @extend .o-h;
    font-size: rem($font-size-h5);
}

h6, .o-h6 {
    @extend .o-h;
    font-size: rem($font-size-h6);
}
