// ==========================================================================
// Base / Page
// ==========================================================================

//
// Simple page-level setup.
//
// 1. Set the default `font-size` and `line-height` for the entire project,
//    sourced from our default variables.
// 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
//    navigating between pages that do/do not have enough content to produce
//    scrollbars naturally.
// 3. Ensure the page always fills at least the entire height of the viewport.
//
html {
    //overflow-y: scroll; /* [2] */
    min-height: 100%; /* [3] */
    color: $color;
    font-family: $font-pri;
    line-height: $line-height; /* [1] */

    scroll-behavior: smooth;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

		overflow-x: hidden !important;

    &.has-smooth-scroll{
        overflow-y: scroll; /* [2] */
    }

    &.has-nav-open{
      overflow: hidden !important;

			body{
				overflow: hidden !important;
			}
    }

    @include media("<sm") {
        margin-top:0 !important;
    };

    @media (max-width: $to-small) {
        font-size: 14px;
    }

    @media (min-width: $from-small) and (max-width: $to-medium) {
        font-size: 14px;
    }

    @media (min-width: $from-medium) and (max-width: $to-large) {
        font-size: 16px;
    }

    @media (min-width: $from-large) and (max-width: $to-huge) {
        font-size: 16px; /* [1] */
    }

    @media (min-width: $from-huge) and (max-width: $to-gigantic) {
        font-size: 20px;
    }

    @media (min-width: $from-gigantic) and (max-width: $to-colossal) {
        font-size: 21px;
    }

    @media (min-width: $from-colossal) {
        font-size: 24px;
    }

}

body{
	//background: $dark-bg;
	color:$white;

	overflow-x: hidden !important;

	&.page-template-template-commander{
		background: $light-bg;
		color:$color;
	}
}


main{
	position: relative;
	z-index: 80;
}

*, :before, :after{
    box-sizing: border-box;
}

::selection {
    background-color: $selection-background-color;
    color: $selection-text-color;
    text-shadow: none;
}

a {
    @include u-hocus {
        color: $link-hover-color;
    }

    color: $link-color;
}
