.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($black, 0.5);
  z-index: 50000;

	.admin-bar &{
		top: 32px;
	}

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    width: 100%;
  }

  &__logo-box {
    width: rem(200px);
  }

  .lang {
    display: flex;

    a {
      display: flex;
			background: $white;

			i {
	      font-size: 20px;
	      margin-right: 20px;
	    }

    }

  }

  &__options {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .lang {
      margin-right: 1rem;

      .button--outline {
        text-transform: uppercase;
      }
    }

    .button {
      padding: 1rem 2rem;
      text-transform: uppercase;
      // @include respond(phone) {
      //   padding: 8px 8px!important !important;
      // }
    }
  }
  // @include respond(phone) {
  //   .wpml-ls-legacy-list-horizontal ul {
  //     display: flex;
  //   }
  // }

  .wpml-ls-legacy-list-horizontal a {
    color: $white;
    opacity: 0.5;
  }

  .wpml-ls-current-language a {
    color: $white;
    opacity: 1!important;
  }

  .wpml-ls-legacy-list-horizontal a {
    padding: 0.5rem 0.8rem;
    font-family: $TradeGothicLTComBdCn20;
  }
}

header .lang .wpml-ls-legacy-list-horizontal {
  padding: 0;
}

.site-header {
  position: fixed;
  top: 0;
  height: auto;
  padding: 3rem 5rem;
  width: 100%;
  background-color: $black;
  z-index: 1000;

  .logocaissy {

  }

  .langbtnselector {
    float: right;
    font-size: 1.6rem;
    margin-top: 1rem;

  }
}
